*{
	margin-left:auto;
	margin-right:auto;
}
body{ font-family:Arial, Helvetica, sans-serif; background:#FFF; margin:0px;}
.main{ 
	width:1300px; 
	-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3) !important; 
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3) !important;
	margin-bottom:20px;
}
.clearfix{ clear:both;}
.header{
	width:1300px; height:100px; float:left; border-top:2px solid #0099da;
	border-bottom:2px solid #0099da; background:#FFF;
}
.header-left{ width:250px; float:left; padding-top:15px;}
.header-right{ width:1050px; float:left; padding-top:10px;}
.header-right-top{ width:550px; height:35px; float:left; padding-left:500px; margin:0;}
.header-right-top ul{ list-style:none; float:left; margin:5px 20px;}
.header-right-top ul li{ float:left; padding:0px 10px;}
.header-right-top ul li a{ font-size:12px; text-decoration:none; background:#0099da; color:#FFF; 
padding:8px 10px; border-radius:100px; text-align:center;}
.header-right-top ul li a:hover{ background:#069; color:#FFF;}
.form{ height:30px; padding:0px 10px; float:left; border:1px solid #0099da; border-radius:2px;}
.header-right-bottom{ width:1050px; height:40px; float:left;}
.header-right-bottom ul{list-style:none; margin:0px; padding-left:100px}
.header-right-bottom ul li{
	list-style:none; font-family:arial; font-size:14px; padding:10px 0px 5px; 
	margin:5px 0px; float:left; font-weight:bold;
}
.header-right-bottom ul li a{ padding:5px 28px 10px; margin:2px 0px 5px; text-decoration:none; color:#000;}
.header-right-bottom ul li a:hover{ color:#0099dd;}
.slider{ width:1300px; background:url(../images/slider-bg.jpg); height:300px; float:left; }
.slider-h3{ font-size:30px; padding:100px 0px 0px 100px; color:#000; text-shadow:1px 0.5px #CCC;}
.btn{ background:#0099da; color:#FFF; padding:9px 20px; font-size:16px; 
text-decoration:none; border-radius:3px; text-shadow:none;}
.btn:hover{ background:#0080C0;}
.slider-bottom{ width:1300px; float:left;}
.slider-bottom-parts{ width:350px; float:left; padding:20px 41px; background:#0099da; border-right:2px #FFF solid;}
.slider-bottom-parts-h3{ color:#FFF; padding:20px 0px 10px; text-align:center; font-size:20px;}
.slider-bottom-parts-p{ color:#FFF; line-height:26px; font-size:14px; text-align:center;}
.content{ width:1300px; float:left; padding-bottom:20px;}
.content-left{width:950px; height:auto; float:left;}
.content-left-top{width:950px; float:left;}
.content-left-top-left{width:430px; float:left; padding:20px 10px;}
.content-header-h3{ font-size:28px; padding:15px 0px; color:#0099da;}
.content-left-top-right{width:500px; float:left; padding-top:60px;}
.content-left-top-right-p{ font-size:14px; float:left; padding:15px 0px 0px 20px; 
text-align:justify; color:#000; line-height:26px;}
.content-left-bottom{width:950px; float:left;}
.content-left-bottom-parts{ width:280px; float:left; padding:0px 20px 0px 15px;}
.content-left-bottom-parts p{ line-height:26px; font-size:14px; text-align:justify;}
.content-right{ width:330px; height:auto; float:left; padding:20px 0px 0px 20px;}
.content-right-top{ width:330px; float:left;}
.content-right-top-left{ width:100px; float:left; padding:0px 0px 10px;}
.content-right-top-right{ width:210px; float:left;}
.content-date{ color:#0099da; font-style:italic; font-size:13px; padding:0px 10px 10px;}
.content-right-p{padding:0px 10px 10px; font-size:12px; text-align:justify;}
.content-right-bottom{width:330px; float:left;}
.my_form{border-radius:2px; border:1px solid #0099da; margin:5px auto; height:30px; width:280px; padding:0px 10px;}
.form-textarea{ border-radius:2px; border:1px solid #0099da; margin:5px auto; width:280px; padding:0px 10px;}

.content-header{color:#000; font-size:26px; text-align:center; padding:25px 10px 15px;}
.content-header a{ color:#0099dd; text-decoration:none;}
.content-header a:hover{ color:#069;}

.content-bottom-boxes{ width:300px; float:left; padding:0px 20px; color:#000;}
.content-bottom-bg{ background:#ebebeb; float:left; padding:20px 15px;}
.content-bottom-bg-header{ font-size:18px; padding-bottom:15px;}
.content-bottom-bg-p{ line-height:24px;}
